---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Weekly Menu 游볨">
  <section
    class="rounded-lg border border-gray-700 bg-gray-900 p-4 shadow shadow-black"
  >
    <h4 class="text-lg font-bold text-gray-400">Lunes</h4>
    <p>Tortilla de patatas y pan con tomate</p>
  </section>

  <section
    class="rounded-lg border border-gray-700 bg-gray-900 p-4 shadow shadow-black"
  >
    <h4 class="text-lg font-bold text-gray-400">Martes</h4>
    <p>
      Pollo a la plancha y ensalada de tomates cherris, mezclum y mozzarella
    </p>
  </section>

  <section
    class="rounded-lg border border-gray-700 bg-gray-900 p-4 shadow shadow-black"
  >
    <h4 class="text-lg font-bold text-gray-400">Mi칠rcoles</h4>
    <p>Pescado blanco al limon y ensalada de pepino</p>
  </section>

  <section
    class="rounded-lg border border-gray-700 bg-gray-900 p-4 shadow shadow-black"
  >
    <h4 class="text-lg font-bold text-gray-400">Jueves</h4>
    <p>Wraps de at칰n, huevo duro, mayonesa, queso fresco y mezclum</p>
  </section>

  <section
    class="rounded-lg border border-gray-700 bg-gray-900 p-4 shadow shadow-black"
  >
    <h4 class="text-lg font-bold text-gray-400">Viernes</h4>
    <p>
      Pasta/arroz con cebolla, champi침ones, ajo, tomate cherry y salsa de soja
    </p>
  </section>

  <section
    class="rounded-lg border border-gray-700 bg-gray-900 p-4 shadow shadow-black"
  >
    <h4 class="text-lg font-bold text-gray-400">S치bado</h4>
    <p>Lasa침a bolo침esa de lentejas</p>
  </section>

  <section
    class="rounded-lg border border-gray-700 bg-gray-900 p-4 shadow shadow-black"
  >
    <h4 class="text-lg font-bold text-gray-400">Domingo</h4>
    <p>Mel칩n con jam칩n / Pi침a a la plancha con bradwurst</p>
  </section>
</Layout>
