---
import Layout from "@/layouts/Layout.astro";
import Card from "@/components/Card.astro";

import { dishes } from "@/lib/dishes";

//create a flat array of all ingredients and remove duplicates with Set
const ingredients = dishes.flatMap(({ meals }) =>
  meals.flatMap(({ ingredients }) => ingredients)
);

// add the times of each ingredient is repeated like this example (tomates (2)) and remove duplicates
const ingredientsArray = [
  ...new Set(
    ingredients.map(
      (ingredient) =>
        `${ingredient} (${ingredients.filter((i) => i === ingredient).length})`
    )
  ),
];
---

<Layout title="Weekly Menu 🥑">
  {dishes.map(({ day, meals }) => <Card day={day} meals={meals} />)}

  <footer class="flex flex-col gap-2 p-4">
    <details>
      <summary> Ingredientes </summary>
      <ul class="list-disc pl-4 text-gray-400">
        {
          ingredientsArray.map((ingredient) => (
            <li>
              <p class="text-sm capitalize">{ingredient}</p>
            </li>
          ))
        }
      </ul>
    </details>
  </footer>
</Layout>
